.form-container
	width: 100%
	max-width: 688px
	margin: 0 auto

.inner
	padding-left: 2.5em
	padding-right: 2.5em

	@media screen and(min-width: 688px)
		max-width: 613px
		padding-left: 158px
		padding-right: 0

.logo
	display: inline-block
	margin-top: -6px

	&+p
		margin-top: -10px

p + p
	margin-top: 1.3em

ul + p
	margin-top: 1.2em

ul, li
	list-style: circle

.about-form
	margin-top: 2em
	padding-bottom: 4.6em

	fieldset
		margin-bottom: 2.8em

	legend
		display: block
		font-weight: 700
		margin-bottom: 1em

	&__row
		position: relative

		.nice-select
			float: left
			clear: none
			height: 30px
			line-height: 30px
			border: 1px solid #D8D8D8
			border-radius: 2px
			padding-left: 10px

			&:after
				border: none
				width: 7px
				height: 12px
				right: 7px
				top: 43%
				transform: none
				transition: none
				background: inline('select-arrows.svg')

			.list
				width: 100%
				height: 120px
				overflow-y: auto
				box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.30)
				border-radius: 0

			.option
				padding: 0 10px
				min-height: auto
				height: 30px
				line-height: 30px

			.option:hover,
			.option.focus,
			.option.selected.focus
				background-color: #eeeeee

			.option.selected
				font-weight: normal

		&:not(:last-child)
			margin-bottom: 1.3em

	&__input
		border: 1px solid #D8D8D8
		border-radius: 2px
		outline: none
		padding: 0 10px
		font-size: 1em
		color: #494949

		&:hover,
		&:focus,
		&:active
			border: 1px solid #B3B3B3

	.text-label
		display: block
		margin-bottom: 10px

		@media screen and (min-width: 688px)
			position: absolute
			width: 132px
			left: -158px
			top: 50%
			transform: translateY(-50%)
			text-align: right

.birth-day-select
	width: 48px
	margin-right: 0.7em

.birth-month-select
	width: 121px
	margin-right: 1.3em

.birth-year-select
	width: 66px

.about-form__input
	min-width: 265px
	height: 30px
	border: 1px solid #D8D8D8
	border-radius: 2px

.skils
	display: block
	list-style: none
	padding: 0
	margin: 0
	line-height: 1.1em

	@media screen and(min-width: 400px)
		width: 50%
		float: left

	&:nth-of-type(2)
		@media screen and(min-width: 400px)
			padding-left: 2.4em

	li
		list-style: none
		margin-bottom: 10px

.list-check

	input[type="checkbox"]
		display: none

	input[type="checkbox"]:checked + label:after
		content: ''
		background: inline('check.svg')
		width: width('check.svg')
		height: height('check.svg')
		position: absolute
		left: -23px
		top: 3px

	input[type="checkbox"]:checked + label:before
		background: #1976D2

	input[type="checkbox"]:checked + label

		&:hover:before
			background: #0044A0


	label
		position: relative

		&:before
			content: ''
			width: 16px
			height: 16px
			border-radius: 2px
			background: #DDDDDD
			position: absolute
			left: -26px
			top: 0

		&:hover:before
			background: #BDBDBD

.list-radio

	td:not(:first-child)
		padding-top: 1.5em

		@media screen and(min-width: 400px)
			padding-top: 0

	tr:not(:first-child)

		td
			padding-top: 1.5em

	input[type="radio"]
		display: none

	input[type="radio"]:checked + label:before
		border: 5px solid #1976D2

	input[type="radio"]:checked + label

		&:hover:before
			border-color: #0044A0

	label
		position: relative

		&:before
			content: ''
			width: 16px
			height: 16px
			border-radius: 16px
			background: #ffffff
			border: 2px solid #E0E0E0
			position: absolute
			left: -26px
			top: 0

		&:hover:before
			border-color: #BDBDBD

.form__submit
	padding: 10px 0
	background: #F1F1F1
	margin-left: -2.5em
	margin-right: -2.5em
	padding-left: 2.5em
	margin-top: 3.7em

	@media screen and(min-width: 688px)
		margin-right: -75px
		margin-left: -158px
		padding-left: 158px

.btn
	display: inline-block
	width: 112px
	height: 36px
	background: #1976D2
	color: #ffffff
	text-transform: uppercase
	appearance: none
	border: none
	border-radius: 2px
	outline: none
	cursor: pointer
	font-size: 13px

	&:hover
		background: #0D47A1

