*
	padding: 0
	margin: 0

html
	box-sizing: border-box

*,
*:before,
*:after
	box-sizing: inherit

html, body
	width: 100%
	height: 100%
	-webkit-text-size-adjust: 100%
	-webkit-font-smoothing: antialiased
	cursor: default

// html
// 	&.loading
// 		body
// 			@extend .no-pe
// 			@extend .no-select
// 			overflow: hidden
// 			*
// 				visibility: hidden
// 				overflow: hidden
// 			&:after
// 				@extend %throbber
// 				position: fixed
// 				top: 50%
// 				left: 50%
// 				margin-top: -8px
// 				margin-left: -8px
// 				transition(opacity 0.5s ease-in)
// 				opacity(1)

body
	font: normal #{$default-font-size}/1.27 'PT Sans', Arial, sans-serif
	color: #494949
	background: #FFF

img, fieldset
	border: 0

fieldset legend
	display: none

ul, li
	list-style-type: none

img
	vertical-align: top

a
	&:link,
	&:visited,
	&:hover,
	&:active
		color: #1976D2
		text-decoration: none
	&:hover
		color: #0D47A1
		text-decoration: none

table
	border: 0
	border-collapse: collapse
	td
		padding: 0
		vertical-align: top

input, select, textarea
	+box

input[type=number]::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]
	-moz-appearance: textfield

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration
	display: none

::selection
	background: #5f5f5f
	color: #FFFFFF
	text-shadow: none

::-moz-selection
	background: #5f5f5f
	color: #FFFFFF
	text-shadow: none

::-webkit-scrollbar
	width: 6px
	height: 6px
	background: #eaedf1

::-webkit-scrollbar-button
	display: none

::-webkit-scrollbar-track
	background: #eaedf1

::-webkit-scrollbar-thumb
	background: #5f5f5f

::-webkit-scrollbar-thumb:hover
	background: #333333
