//= templates/head.html
<body>

	<div class="form-container clearfix">

		<div class="inner">
			<a href="/" class="logo">
				<svg width="272"><use xlink:href="#icon-logo"></use></svg>
			</a>

			<p>Сверстайте эту страницу и заполните форму данными о себе.</p>

			<p>Требования к кроссбраузерности: последние версии IE, Safari, Chrome и FF; мобильные Safari (iOS 8) и Chrome (Android 5).</p>

			<p>Мы обратим внимание на:</p>

			<ul>
				<li>Соответствие вёрстки исходному макету</li>
				<li>Организацию и качество кода</li>
				<li>Кроссбраузерность</li>
			</ul>

			<p>Обязательные требования к коду:</p>

			<ul>
				<li>Не использовать Bootstrap</li>
				<li>Страница должна быть сделана на нашем стартовом шаблоне: <a href="https://github.com/sborkaproject/SP.Starter</li>">https://github.com/sborkaproject/SP.Starter</li></a>
				<li>Именование классов по БЭМ’у</li>
				<li>Использование препроцессора для CSS</li>
			</ul>

			<form action="#" class="about-form">
				<fieldset>
					<legend>Личные данные</legend>

					<div class="about-form__row">
						<label for="name" class="text-label">ФИО</label>
						<input type="text" id="name" class="about-form__input" value="Походня Дмитрий Григорьевич">
					</div>

					<div class="about-form__row">
						<label for="birthday" class="text-label">Дата Рождения</label>

						<div class="select-container clearfix">
							<select name="birth-day" id="birth-day" class="birth-day-select">
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">	03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23" selected>23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
							<select name="birth-month" id="birth-month" class="birth-month-select">
								<option value="Январь">Январь</option>
								<option value="Февраль">Февраль</option>
								<option value="Март">Март</option>
								<option value="Апрель">Апрель</option>
								<option value="Май">Май</option>
								<option value="Июнь">Июнь</option>
								<option value="Июль">Июль</option>
								<option value="Август">Август</option>
								<option value="Сентябрь">Сентябрь</option>
								<option value="Октябрь" selected>Октябрь</option>
								<option value="Ноябрь">Ноябрь</option>
								<option value="Декабрь">Декабрь</option>
							</select>
							<select name="birth-year" id="birth-year" class="birth-year-select">
								<option value="2006">2006</option>
								<option value="2005">2005</option>
								<option value="2004">2004</option>
								<option value="2003">2003</option>
								<option value="2002">2002</option>
								<option value="2001">2001</option>
								<option value="2000">2000</option>
								<option value="1999">1999</option>
								<option value="1998">1998</option>
								<option value="1997">1997</option>
								<option value="1996">1996</option>
								<option value="1995">1995</option>
								<option value="1994">1994</option>
								<option value="1993">1993</option>
								<option value="1992">1992</option>
								<option value="1991">1991</option>
								<option value="1990">1990</option>
								<option value="1989">1989</option>
								<option value="1988">1988</option>
								<option value="1987">1987</option>
								<option value="1986">1986</option>
								<option value="1985">1985</option>
								<option value="1984">1984</option>
								<option value="1983">1983</option>
								<option value="1982">1982</option>
								<option value="1981">1981</option>
								<option value="1980">1980</option>
								<option value="1979">1979</option>
								<option value="1978">1978</option>
								<option value="1977">1977</option>
								<option value="1976" selected>1976</option>
							</select>
						</div>
					</div>

					<div class="about-form__row">
						<label for="address" class="text-label">Место жительства</label>
						<input type="text" id="address" class="about-form__input" value="Ростов-на-Дону">
					</div>

					<div class="about-form__row">
						<label for="email" class="text-label">Электронная почта</label>
						<input type="email" id="email" class="about-form__input" value="dmitriy.troy@gmail.com">
					</div>

					<div class="about-form__row">
						<label for="skype" class="text-label">Скайп</label>
						<input type="text" id="skype" class="about-form__input" value="dmitryp_softgrad">
					</div>

				</fieldset>

				<fieldset>

					<legend>Практические навыки</legend>

					<ul class="skils list-check">
						<li>
							<input type="checkbox" id="bem" name="bem" checked>
							<label for="bem">Методология БЭМ</label>
						</li>
						<li>
							<input type="checkbox" id="jquery" name="jquery" checked>
							<label for="jquery">jQuery</label>
						</li>
						<li>
							<input type="checkbox" id="js" name="js" checked>
							<label for="js">Нативный JS</label>
						</li>
						<li>
							<input type="checkbox" id="gulp" name="gulp" checked>
							<label for="gulp">Использую Grunt или Gulp</label>
						</li>
						<li>
							<input type="checkbox" id="haml" name="haml">
							<label for="haml">HAML</label>
						</li>
						<li>
							<input type="checkbox" id="jade" name="jade" checked>
							<label for="jade">Jade</label>
						</li>
					</ul>

					<ul class="skils list-check">
						<li>
							<input type="checkbox" id="compass" name="compass" checked>
							<label for="compass">Compass</label>
						</li>
						<li>
							<input type="checkbox" id="sass" name="sass" checked>
							<label for="sass">SASS</label>
						</li>
						<li>
							<input type="checkbox" id="less" name="less" checked>
							<label for="less">LESS</label>
						</li>
						<li>
							<input type="checkbox" id="coffeescript" name="coffeescript">
							<label for="coffeescript">CoffeeScript</label>
						</li>
						<li>
							<input type="checkbox" id="stylus" name="stylus" checked="">
							<label for="stylus">Stylus</label>
						</li>
						<li>
							<input type="checkbox" id="adaptive" name="adaptive" checked>
							<label for="adaptive">Адаптивная вёрстка</label>
						</li>
					</ul>

				</fieldset>

				<fieldset>

					<legend>Уровень владения JavaScript</legend>

					<table class="list-radio">
						<tr>
							<td class="skils">
								<input type="radio" name="js-skills" id="no">
								<label for="no">Не владею</label>
							</td>
							<td class="skils">
								<input type="radio" name="js-skills" id="use-mod-plugins" checked>
								<label for="use-mod-plugins">Использую готовые решения и умею их переделывать</label>
							</td>
						</tr>
						<tr>
							<td class="skils">
								<input type="radio" name="js-skills" id="use-plugins">
								<label for="use-plugins">Использую готовые решения</label>
							</td>
							<td class="skils">
								<input type="radio" name="js-skills" id="write">
								<label for="write">Пишу сложные скрипты</label>
							</td>
						</tr>
					</table>

				</fieldset>

				<div class="form__submit">
					<button type="submit" class="btn">сохранить</button>
				</div>
		<!-- /.form__submit -->

			</form>

		</div>
		<!-- /.inner -->

	</div>

	<script src="media/js/main.js"></script>

</body>
</html>
